main.main-content
  section.intro
    color: $dark-blue
    margin-top: 80px
    text-align: center
    h2
      margin: 50px 0
      &::after
        content: ''
        display: block
        background: url(../img/squiggle.gif) no-repeat
        width: 90px
        height: 10px
        margin: 25px auto
