section.services
  position: relative
  background: url(../img/services_home.jpg) no-repeat top center
  background-attachment: fixed
  height: 800px
  background-size: cover
  .hs-wrap
    @include display(flex)
    @include justify-content(space-between)
    height: 100%
    @include align-items(center)
    .hs-block
      width: 40%
    .service-items
      max-width: 420px
      a
        display: inline-block
        text-align: center
        width: calc(50% - 20px)
        margin: 10px
        padding: 15px 0
        border-radius: 8px
        &:hover
          background: #fff
        &.active
          background: #fff

        &.branding
          color: $yellow
          svg
            fill: $yellow
        &.webdesign
          color: $dark-blue
          svg
            fill: $dark-blue
        &.ui
          color: $blue
          svg
            fill: $blue
        &.webdev
          color: $red
          svg
            fill: $red
        h5
          margin: 0
          font-family: $brandon
          font-size: 1em
          letter-spacing: 1px
          margin-top: 10px
    .sevices-info
      max-width: 400px
      color: $dark-blue
