
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 80%;
  }
}

li{
  list-style-type: none;
}
