section.newsletter.blog-nl
  h3 Sign up for awesome <span>newsletters</span>
  form.nletter#nletter(name="newsletter")
    .nl-wrap
      input#email(type="email" placeholder="type your email here..." required)
      input(type="submit" value="Sign Up")
