header.main-header.blog-header
  .container
    include header-top.jade
    //- header inner content  
  .bh-content
    h1 Blog
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.    

  
    
  
