footer.main-footer
  .container
    .footer-content
      figure.fLogo 
        include ../assets/img/footerLogo.svg
      h3 deseno studio production ltd.
      .social-links
        a Facebook 
        a Twitter 
        a Instagram 
        a(href="https://www.behance.net/deseno-studio" target="_blank") Behance 
    .copyright COPYRIGHT 2016 . DESENO STUDIO
      
