include services/services_header.jade
main.main-content.services-content
  include services/services_intro.jade
  section.ds-services
    .dss-container
      .dss-item
        .dss-content
          img(src="../assets/img/services/web-design.svg", alt="")
          a: h3 Web Design
      .dss-item
        .dss-content
          img(src="../assets/img/services/graphic-design.svg", alt="")
          a: h3 Graphic Design
      .dss-item
        .dss-content
          img(src="../assets/img/services/mobile-design.svg", alt="")
          a: h3 mobile Design
      .dss-item
        .dss-content
          img(src="../assets/img/services/web-development.svg", alt="")
          a: h3 web development
      .dss-item
        .dss-content
          img(src="../assets/img/services/branding.svg", alt="")
          a: h3 Branding
      .dss-item
        .dss-content
          img(src="../assets/img/services/ui-design.svg", alt="")
          a: h3 ui Design
    a.btn-border.sm.blue work with us
          
      
      
      
      
      
    

 
