main(style="background:#dedede; height:100vh; overflow:auto")
  h1 buttons
  a.btn-border(href="#") Call to action 
  a.btn-border.blue(href="#") Call to action
  a.btn-border.yellow(href="#") Call to action
  a.btn-border.red(href="#") Call to action
  a.btn-border.sky(href="#") Call to action
  a.btn-fill.blue(href="#") Call to action
  a.btn-fill.red(href="#") Call to action
  a.btn-fill.yellow(href="#") Call to action
  a.btn-fill.sky(href="#") Call to action
  a.btn-fill.sm.blue(href="#") Read Post
  a.btn-fill.sm.yellow(href="#") Read Post
  a.btn-fill.sm.red(href="#") Read Post
  a.btn-fill.sm.sky(href="#") Read Post
  a.btn-border.sm.blue(href="#") Read Post
  a.btn-border.sm.yellow(href="#") Read Post
  a.btn-border.sm.red(href="#") Read Post
  a.btn-border.sm.sky(href="#") Read Post
