section.products
  .ds-head
    include ../../assets/img/icons/products.svg
    h2 Products
      small stuff you may Love
  .container
    ul.products-items
      li 
        a(href="javascript:(0)")
          include ../../assets/img/icons/themes.svg
        p.title Themes
        
      li 
        a(href="javascript:(0)")
          include ../../assets/img/icons/tools.svg
        p.title Tools
      li
        a(href="javascript:(0)")
          include ../../assets/img/icons/plugins.svg
        p.title Plugins
      li 
        a(href="javascript:(0)")
          include ../../assets/img/icons/inspiration.svg
        p.title inspiration

      
      
        
        
