section.testimonial
  .ds-head
    include ../../assets/img/icons/testimonial.svg
    h2 testimonial
      small what our clients say
  .container
    .testimonial-block
      .tst-msz
        p "I will refer everyone I know. If you want real marketing that works and effective implementation<br> - web design's got you covered. Just what I was looking for."
      .tst-card
        figure.client-avtar
          img(src="assets/img/client1.png", alt="")
        .company 
          h2 Draplin inc.
          span.city London, UK
        .clent-n
          h3 Parke D.
          span.positon CTO 
    .tst-bullets
      a#tst1.active 
      a#tst1 
      a#tst1 
          
            
    
