header.main-header
  .header-bg
  .container
    include ../header-top.jade
  //- header inner content  
  .header-content
    .hero
      h1 We help non-profits oRGNIZATIONS and mission-driven businesses build websites with purpose.
      a.btn-border(href="#") Call to action

        
    
  
