header.main-header
  .header-bg
  .container
    .header-top
      nav.navigation
        a.trigger(href="#")
          include ../../assets/img/hamberger.svg
      .logo
        include ../../assets/img/logo.svg
  //- header inner content  
  .header-content
    .hero
      h1 We help non-profits oRGNIZATIONS and mission-driven businesses build websites with purpose.
      a.btn-border(href="#") Call to action

        
    
  
