section.newsletter
  h3 Sign up for awesome <span>newsletters</span>
  form#nletter(name="newsletter")
    .nl-wrap
      input#email(type="email" placeholder="type your email here..." required)
      input(type="submit" value="Sign Up")
      
    
section.services
  .container.hs-wrap
    .service-items.hs-block
      a.branding.active(href="javascript:void(0)")
        include ../../assets/img/icons/branding.svg
        h5 branding
      a.webdesign(href="javascript:void(0)")
        include ../../assets/img/icons/webdesign.svg
        h5 web design
      a.ui(href="javascript:void(0)")
        include ../../assets/img/icons/uidesign.svg
        h5 ui design
      a.webdev(href="javascript:void(0)")
        include ../../assets/img/icons/webdev.svg
        h5 web dev
        
    .sevices-info.hs-block
      h1#si-title branding
      p#si-punch Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, irure dolor in reprehenderit. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      a.btn-fill.blue.sm(href="javascript:void(0)") see more   
        
        
