section.hblog
  .ds-head
    include ../../assets/img/icons/blog.svg
    h2 Blog
      small articles you should read
  .container
    .blog-cards
      .row
        .blogCard
          figure.blog-image
            img(src="assets/img/blog1.jpg", alt="")
          .card-content
            a.blog-title Introducing iframify 
            a.blog-author Hugo Giraudel
            a.btn-fill.blue.sm(href='javascript:void(0)') Read Post
            
        .blogCard.rc.red
          figure.blog-image
            img(src="assets/img/blog2.jpg", alt="")
          .card-content
            a.blog-title Introducing iframify 
            a.blog-author Hugo Giraudel
            a.btn-fill.sm(href='javascript:void(0)') Read Post
      
      .row
        .blogCard.rc.yellow
          figure.blog-image
            img(src="assets/img/blog3.jpg", alt="")
          .card-content
            a.blog-title Introducing iframify 
            a.blog-author John Felix
            a.btn-fill.sm(href='javascript:void(0)') Read Post
            
        .blogCard.sky
          figure.blog-image
            img(src="assets/img/blog4.jpg", alt="")
          .card-content
            a.blog-title Introducing iframify 
            a.blog-author Hugo Giraudel
            a.btn-fill.sm(href='javascript:void(0)') Read Post
