// Fonts

$heading  : 'Gotham Rounded A', sans-serif;
$brandon  : 'brandon-grotesque', sans-serif;
$openSans : 'Open Sans', sans-serif;

// colors
$dark-blue :#34495e;
$gray : #808080;
$yellow : #e4b052;
$red : #fd7576;
$blue : #4db8de;
