// Fonts

$heading  : 'Gotham Rounded A', sans-serif;
$brandon  : 'brandon-grotesque', sans-serif;
$openSans : 'Open Sans', sans-serif;

// colors
$dark-blue :#34495e;
$gray : #808080;
$yellow : #e4b052;
$red : #fd7576;
$blue : #4db8de;
$green : #3cde75;

// breakdowns

$mobile : 600px;
$ipad : 1024px;
$desktop : 1200px;
