a[class^="btn"]
  font-family: $brandon
  font-size: 1.1em
  color: #fff
  text-transform: uppercase
  font-weight: 600
  letter-spacing: 2px
  display: inline-block
  @include transition(all .5s ease-in-out)
a.btn-border
  background: transparent
  border: 2px solid
  border-radius: 30px
  padding: 10px 30px
  vertical-align: baseline
