a[class^="btn"]
  font-family: $brandon
  font-size: 1em
  color: #fff
  text-transform: uppercase
  font-weight: 700
  letter-spacing: 2.5px
  display: inline-block
  @include transition(all .5s ease-in-out)
a.btn-border
  background: transparent
  border: 2px solid
  border-radius: 50px
  line-height: 1.5
  padding: 15px 25px 13px 25px
  //padding: 10px 30px
  vertical-align: baseline
