// importing files for home
@import "home/home_header";
@import "home/home_intro";
@import "home/home_service";
@import "home/home_products";
@import "home/home_blog";
@import "home/home_testimonial";


//footer

@import "footer";
