// header
header.services-header
  background: $gray
  height: 480px
  .header-content
    text-align: left
    top: 60%
    color: #fff
    h1
      font-size: 2em
      margin: 15px 0
    h2
      font: normal 600 1em $brandon
      letter-spacing: 2px

main.services-content
  section.intro
    color: $gray
